In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

C:\Users\tomde\AppData\Local\Temp\ipykernel_10980\3364595668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("final.csv")
df.head()

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
0,u,500000,13.5,2,1,1.0,168,86.0,2011,-37.7215,...,False,False,False,False,False,False,False,False,False,False
1,u,515000,13.5,2,1,1.0,141,73.0,2013,-37.7298,...,False,False,False,False,False,False,False,False,False,False
2,u,752000,13.5,3,1,1.0,265,130.0,1993,-37.7302,...,False,False,False,False,False,False,False,False,False,False
3,u,462500,13.5,2,1,1.0,164,126.2,2003,-37.7218,...,False,False,False,False,False,False,False,False,False,False
4,u,510000,13.5,2,1,1.0,141,76.0,1985,-37.7202,...,False,False,False,False,False,False,False,False,False,False

In [3]:
df['Lattitude'] = df['Lattitude'].astype(int)
df['Longtitude'] = df['Longtitude'].astype(int)

In [4]:
df['Lattitude'] = df['Lattitude'].astype(float)
df['Longtitude'] = df['Longtitude'].astype(float)

In [5]:
df['BuildingArea'] = df['BuildingArea'].astype(int)
df['Landsize'] = df['Landsize'].astype(int)
df['BuildingArea'] = df['BuildingArea'].astype(float)
df['Landsize'] = df['Landsize'].astype(float)

In [6]:
df.head(2)

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
0,u,500000,13.5,2,1,1.0,168.0,86.0,2011,-37.0,...,False,False,False,False,False,False,False,False,False,False
1,u,515000,13.5,2,1,1.0,141.0,73.0,2013,-37.0,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df.shape

(5432, 211)

## Re-sample the dataset

In [8]:
# First, separate the dataframes based on the type
df_h = df[df['Type'] == 'h']
df_u = df[df['Type'] == 'u']
df_t = df[df['Type'] == 't']

# Get the number of 'h' type
num_h = len(df_h)

# Resample 'u' and 't' types
df_u_resampled = df_u.sample(n=num_h, replace=True, random_state=42)
df_t_resampled = df_t.sample(n=num_h, replace=True, random_state=42)

# Concatenate all dataframes
df1 = pd.concat([df_h, df_u_resampled, df_t_resampled])

In [9]:
df1.shape

(13965, 211)

In [10]:
df1.head()

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
777,h,1480000,2.5,2,1,1.0,202.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False
778,h,1035000,2.5,2,1,0.0,156.0,79.0,1900,-37.0,...,False,False,False,False,False,False,False,False,False,False
779,h,941000,2.5,2,1,0.0,181.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False
780,h,1876000,2.5,4,2,0.0,245.0,210.0,1910,-37.0,...,False,False,False,False,False,False,False,False,False,False
781,h,1636000,2.5,2,1,2.0,256.0,107.0,1890,-37.0,...,False,False,False,False,False,False,False,False,False,False

## Data cleaning

In [11]:
df1.describe()

,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,1.396500e+04,13965.000000,13965.000000,13965.000000,13965.000000,13965.000000,13965.000000,13965.000000,13965.000000,13965.000000
mean,9.526397e+05,11.410949,2.817043,1.560043,1.593126,329.938059,139.585392,1975.959613,-37.012388,144.601146
std,4.838190e+05,4.755801,0.778615,0.634225,0.772270,202.745841,44.559385,25.561877,0.110614,0.489680
min,1.700000e+05,1.600000,0.000000,0.000000,0.000000,30.000000,1.000000,1854.000000,-38.000000,144.000000
25%,6.500000e+05,8.500000,2.000000,1.000000,1.000000,189.000000,109.000000,1964.000000,-37.000000,144.000000
50%,8.200000e+05,11.200000,3.000000,1.000000,2.000000,257.000000,151.000000,1970.000000,-37.000000,145.000000
75%,1.155000e+06,13.700000,3.000000,2.000000,2.000000,413.000000,151.000000,2000.000000,-37.000000,145.000000
max,6.500000e+06,41.000000,9.000000,8.000000,10.000000,4077.000000,453.000000,2017.000000,-37.000000,145.000000

## Encode

In [12]:
df1.head(2)

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
777,h,1480000,2.5,2,1,1.0,202.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False
778,h,1035000,2.5,2,1,0.0,156.0,79.0,1900,-37.0,...,False,False,False,False,False,False,False,False,False,False

In [13]:
df1.Type

777    h
778    h
779    h
780    h
781    h
      ..
419    t
465    t
524    t
471    t
527    t
Name: Type, Length: 13965, dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df2 = df1.copy()
df2.Type = le.fit_transform(df2.Type)
df2.head(3)

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
777,0,1480000,2.5,2,1,1.0,202.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False
778,0,1035000,2.5,2,1,0.0,156.0,79.0,1900,-37.0,...,False,False,False,False,False,False,False,False,False,False
779,0,941000,2.5,2,1,0.0,181.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False

In [15]:
df2.shape

(13965, 211)

In [16]:
df2.head(2)

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
777,0,1480000,2.5,2,1,1.0,202.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False
778,0,1035000,2.5,2,1,0.0,156.0,79.0,1900,-37.0,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df2.Type

777    0
778    0
779    0
780    0
781    0
      ..
419    1
465    1
524    1
471    1
527    1
Name: Type, Length: 13965, dtype: int32

## Model evaluations

In [18]:
X = df2.drop(['Price'],axis='columns')
y = df2.Price

In [19]:
X.head()

,Type,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
777,0,2.5,2,1,1.0,202.0,151.0,1964,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
778,0,2.5,2,1,0.0,156.0,79.0,1900,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
779,0,2.5,2,1,0.0,181.0,151.0,1964,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
780,0,2.5,4,2,0.0,245.0,210.0,1910,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
781,0,2.5,2,1,2.0,256.0,107.0,1890,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False

In [20]:
y.head()

777    1480000
778    1035000
779     941000
780    1876000
781    1636000
Name: Price, dtype: int64

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import Lasso
# from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor


# def find_best_model_using_gridsearchcv(X,y):
#     algos = {
#         'random_forest': {
#             'model': RandomForestRegressor(),
#             'params' : {
#                 'n_estimators': [1,5,10,20,30,40]
#             }
#         },
#         'gradient_boosting': {
#             'model': GradientBoostingRegressor(),
#             'params': {
#                 'n_estimators': [100, 200],
#                 'learning_rate': [0.01, 0.1],
#             }
#         },
        
        
#     }
#     scores = []
#     cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
#     for algo_name, config in algos.items():
#         gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False, n_jobs=-1)
#         gs.fit(X,y)
#         scores.append({
#             'model': algo_name,
#             'best_score': gs.best_score_,
#             'best_params': gs.best_params_
#         })

#     return pd.DataFrame(scores,columns=['model','best_score','best_params'])

# find_best_model_using_gridsearchcv(X,y)

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=10)

In [24]:
gradient_model = GradientBoostingRegressor(learning_rate=0.1, n_estimators=200)
gradient_model.fit(X_train, y_train)
gradient_model.score(X_test, y_test)

0.856058166427211

In [25]:
rf_model = RandomForestRegressor(n_estimators=30)
rf_model.fit(X_train, y_train)
rf_model.score(X_test, y_test)

0.8953217386940748

In [32]:
import xgboost as xgb

# Data set for storing xgboost results (matrices)
dtrain_reg = xgb.DMatrix(X_train, y_train)
dtest_reg = xgb.DMatrix(X_test, y_test)

params = {"objective": "reg:squarederror", "tree_method": "hist", "device": "cuda"}  # Set the device to cuda

n = 100
xgboost_model = xgb.train(
    params=params,
    dtrain=dtrain_reg,
    num_boost_round=n,
)

# XGBoost's train function returns a Booster object and doesn't have a score method.
# You can use the predict method and then calculate the score using a metric function from sklearn.
y_pred = xgboost_model.predict(dtest_reg)

# Calculate the score using a metric function from sklearn, for example r2_score
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
print(score)

0.9109466604796811

## Testing models

### Metrics

#### R2 score

In [37]:
from sklearn.metrics import r2_score

gradient_model_score  = r2_score(y_test, gradient_model.predict(X_test))
print("Gradient R2:", gradient_model_score)

rf_model_score  = r2_score(y_test, rf_model.predict(X_test))
print("Random forest R2:", rf_model_score)

y_pred = xgboost_model.predict(dtest_reg)
xgboost_model_score  = r2_score(y_test, y_pred)
print("XGBoost R2:", xgboost_model_score)

Gradient R2: 0.856058166427211
Random forest R2: 0.8953217386940748
XGBoost R2: 0.9109466604796811

#### MAE

In [36]:
from sklearn.metrics import mean_absolute_error

# Compute the MAE for the gradient model
gradient_model_mae = mean_absolute_error(y_test, gradient_model.predict(X_test))
print("Gradient MAE:", gradient_model_mae)

# Compute the MAE for the random forest model
rf_model_mae = mean_absolute_error(y_test, rf_model.predict(X_test))
print("Random Forest MAE:", rf_model_mae)

# Compute the MAE for the XGBoost model
xgboost_model_mae = mean_absolute_error(y_test, y_pred)  # y_pred was computed in the previous step
print("XGBoost MAE:", xgboost_model_mae)

Gradient MAE: 120214.4401560401
Random Forest MAE: 57263.58812358841
XGBoost MAE: 81075.0729726101

#### RMSE

In [38]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Compute the RMSE for the gradient model
gradient_model_rmse = np.sqrt(mean_squared_error(y_test, gradient_model.predict(X_test)))
print("Gradient RMSE:", gradient_model_rmse)

# Compute the RMSE for the random forest model
rf_model_rmse = np.sqrt(mean_squared_error(y_test, rf_model.predict(X_test)))
print("Random Forest RMSE:", rf_model_rmse)

# Compute the RMSE for the XGBoost model
xgboost_model_rmse = np.sqrt(mean_squared_error(y_test, y_pred))  # y_pred was computed in the previous step
print("XGBoost RMSE:", xgboost_model_rmse)

Gradient RMSE: 185515.70370059262
Random Forest RMSE: 158203.25435458764
XGBoost RMSE: 145919.14218453347

### Testing with values

In [ ]:
X_test.head(1)

,Type,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
747,1,13.5,3,3,1.0,344.0,178.0,2004,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False

In [59]:
def predict_price_xg(location, house_type, distance, bedroom2, bathroom, car, landsize, buildingArea, yearBuilt, lattitude, longtitude):
    # Initialize x as a DataFrame with the same columns as the training data
    x = pd.DataFrame(columns=X.columns)

    # Set the values in x that correspond to the features of the house you want to predict the price for
    x.loc[0] = [0] * len(X.columns)
    x['Type'] = house_type
    x['Distance'] = distance
    x['Bedroom2'] = bedroom2
    x['Bathroom'] = bathroom
    x['Car'] = car
    x['Landsize'] = landsize
    x['BuildingArea'] = buildingArea
    x['YearBuilt'] = yearBuilt
    x['Lattitude'] = lattitude
    x['Longtitude'] = longtitude
    if location in X.columns:
        x[location] = 1

    # Convert the DataFrame to a DMatrix
    x_dmatrix = xgb.DMatrix(x)

    return xgboost_model.predict(x_dmatrix)[0]

In [40]:
def predict_price_rf(location,house_type,distance,bedroom2,bathroom,car,landsize,buildingArea,yearBuilt,lattitude,longtitude):    
    loc_index = np.where(X_test.columns==location)[0][0]

    x = np.zeros(len(X_test.columns))
    x[0] = house_type
    x[1] = distance
    x[2] = bedroom2
    x[3] = bathroom
    x[4] = car
    x[5] = landsize
    x[6] = buildingArea
    x[7] = yearBuilt
    x[8] = lattitude
    x[9] = longtitude
    if loc_index >= 0:
        x[loc_index] = 1

    return rf_model.predict([x])[0]

In [41]:
X_test.head(20)

,Type,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
747,1,13.5,3,3,1.0,344.0,178.0,2004,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
589,1,21.3,3,2,2.0,173.0,140.0,2009,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
4175,0,8.8,2,1,2.0,468.0,151.0,1964,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
658,1,20.0,3,3,2.0,248.0,166.0,2011,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
4019,0,9.9,3,1,2.0,422.0,132.0,1950,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
4190,0,8.4,3,2,2.0,515.0,126.0,1920,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
770,1,6.4,3,2,2.0,244.0,129.0,2010,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
119,2,11.4,2,1,1.0,134.0,86.0,1965,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
1083,0,9.5,4,2,2.0,573.0,70.0,1960,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
530,1,20.6,3,2,2.0,219.0,175.0,2010,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
557,1,24.8,3,2,2.0,239.0,151.0,1964,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
772,1,17.3,3,2,2.0,314.0,151.0,1964,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
313,2,11.2,2,1,1.0,133.0,65.0,2012,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
124,2,8.7,2,2,1.0,225.0,151.0,1964,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
337,2,13.5,2,1,1.0,235.0,80.0,1990,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
699,1,11.2,3,2,2.0,220.0,151.0,1964,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
686,1,8.4,3,2,2.0,224.0,132.0,2015,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False
126,2,13.6,3,2,2.0,235.0,112.0,2000,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
36,2,9.7,2,1,1.0,115.0,104.0,1960,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False
208,2,4.6,3,2,2.0,189.0,151.0,1964,-37.0,145.0,...,False,False,False,False,False,False,False,False,False,False

### First prediction

### h:0, t:1, u:2

In [42]:
X_test[(X_test['Type'] == 0) & (X_test['Airport West'] == 1)].head(1)

,Type,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
817,0,13.5,3,1,3.0,614.0,151.0,1964,-37.0,144.0,...,False,False,False,False,False,False,False,False,False,False

In [43]:
df2[(df2['Type'] == 0) & (df2['Airport West'] == 1) & (df2['Landsize'] == 614)].head(1)

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
817,0,790000,13.5,3,1,3.0,614.0,151.0,1964,-37.0,...,False,False,False,False,False,False,False,False,False,False

In [60]:
# location,house_type,distance,bedroom2,bathroom,car,landsize,buildingArea,yearBuilt,lattitude,longtitude
predict_price_xg("Airport West", 0, 13.5, 3, 1, 3, 614, 151, 1964, -37, 144)

695583.06

In [45]:
predict_price_rf("Airport West", 0, 13.5, 3, 1, 3, 614, 151, 1964, -37, 144)

d:\python projects\env\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

751600.0

### Second prediction

In [64]:
# Set the option to display all columns
# pd.set_option('display.max_columns', None)

X_test[(X_test['Type'] == 1)].head(2)

,Type,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Airport West,Albion,Alphington,Altona,Altona North,Ascot Vale,Ashburton,Ashwood,Avondale Heights,Balwyn,Balwyn North,Bentleigh,Bentleigh East,Box Hill,Brighton,Brighton East,Brunswick,Brunswick East,Brunswick West,Bulleen,Burwood,Burwood East,Camberwell,Canterbury,Carnegie,Caulfield South,Chadstone,Cheltenham,Clayton,Coburg,Dandenong,Dandenong North,Doncaster,Doncaster East,Donvale,Eaglemont,Elsternwick,Elwood,Epping,Essendon,Essendon North,Fawkner,Footscray,Glen Iris,Glen Waverley,Glenroy,Greensborough,Hadfield,Hampton,Hampton East,Hawthorn,Hawthorn East,Heidelberg,Heidelberg Heights,Highett,Hughesdale,Ivanhoe,Keilor East,Keilor Park,Kew,Kingsbury,Kingsville,Maidstone,Malvern East,Maribyrnong,Mill Park,Mitcham,Moonee Ponds,Moorabbin,Mount Waverley,Murrumbeena,Newport,Niddrie,Northcote,Nunawading,Oak Park,Oakleigh,Oakleigh South,Ormond,Pascoe Vale,Prahran,Preston,Reservoir,Richmond,Ringwood,Ringwood East,Rosanna,Sandringham,South Kingsville,South Yarra,Spotswood,St Kilda,Sunshine,Sunshine West,Surrey Hills,Templestowe Lower,Thomastown,Thornbury,Toorak,Viewbank,Wantirna South,Watsonia,Werribee,West Footscray,Aberfeldie,Armadale,Bayswater,Beaumaris,Braybrook,Bundoora,Coburg North,Collingwood,Craigieburn,Eltham,Essendon West,Ferntree Gully,Heathmont,Kensington,Kew East,Malvern,Mentone,Mont Albert,Mordialloc,Oakleigh East,Parkdale,South Morang,Strathmore,Vermont,Williamstown,Williamstown North,Yarraville,Abbotsford,Albert Park,Balaclava,Bellfield,Berwick,Blackburn,Blackburn North,Blackburn South,Boronia,Broadmeadows,Carlton,Carlton North,Carrum Downs,Caulfield North,Clayton South,Clifton Hill,Cremorne,Croydon,Deer Park,Dingley Village,Eltham North,Fairfield,Fitzroy,Fitzroy North,Flemington,Forest Hill,Frankston,Frankston South,Gladstone Park,Gowanbrae,Greenvale,Heidelberg West,Hillside,Hoppers Crossing,Ivanhoe East,Jacana,Kealba,Keilor Downs,Keysborough,Lalor,Meadow Heights,Melton,Melton South,Middle Park,Montmorency,Mooroolbark,Mulgrave,Noble Park,North Melbourne,Parkville,Point Cook,Port Melbourne,Roxburgh Park,Seaford,Seddon,South Melbourne,St Albans,Sunbury,Sunshine North,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
747,1,13.5,3,3,1.0,344.0,178.0,2004,-37.0,144.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
589,1,21.3,3,2,2.0,173.0,140.0,2009,-37.0,145.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [65]:
df2[(df2['Type'] == 1) & (df2['Sunshine West'] == 1 & (df2['BuildingArea'] == 140))].head(4)

,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Airport West,Albion,Alphington,Altona,Altona North,Ascot Vale,Ashburton,Ashwood,Avondale Heights,Balwyn,Balwyn North,Bentleigh,Bentleigh East,Box Hill,Brighton,Brighton East,Brunswick,Brunswick East,Brunswick West,Bulleen,Burwood,Burwood East,Camberwell,Canterbury,Carnegie,Caulfield South,Chadstone,Cheltenham,Clayton,Coburg,Dandenong,Dandenong North,Doncaster,Doncaster East,Donvale,Eaglemont,Elsternwick,Elwood,Epping,Essendon,Essendon North,Fawkner,Footscray,Glen Iris,Glen Waverley,Glenroy,Greensborough,Hadfield,Hampton,Hampton East,Hawthorn,Hawthorn East,Heidelberg,Heidelberg Heights,Highett,Hughesdale,Ivanhoe,Keilor East,Keilor Park,Kew,Kingsbury,Kingsville,Maidstone,Malvern East,Maribyrnong,Mill Park,Mitcham,Moonee Ponds,Moorabbin,Mount Waverley,Murrumbeena,Newport,Niddrie,Northcote,Nunawading,Oak Park,Oakleigh,Oakleigh South,Ormond,Pascoe Vale,Prahran,Preston,Reservoir,Richmond,Ringwood,Ringwood East,Rosanna,Sandringham,South Kingsville,South Yarra,Spotswood,St Kilda,Sunshine,Sunshine West,Surrey Hills,Templestowe Lower,Thomastown,Thornbury,Toorak,Viewbank,Wantirna South,Watsonia,Werribee,West Footscray,Aberfeldie,Armadale,Bayswater,Beaumaris,Braybrook,Bundoora,Coburg North,Collingwood,Craigieburn,Eltham,Essendon West,Ferntree Gully,Heathmont,Kensington,Kew East,Malvern,Mentone,Mont Albert,Mordialloc,Oakleigh East,Parkdale,South Morang,Strathmore,Vermont,Williamstown,Williamstown North,Yarraville,Abbotsford,Albert Park,Balaclava,Bellfield,Berwick,Blackburn,Blackburn North,Blackburn South,Boronia,Broadmeadows,Carlton,Carlton North,Carrum Downs,Caulfield North,Clayton South,Clifton Hill,Cremorne,Croydon,Deer Park,Dingley Village,Eltham North,Fairfield,Fitzroy,Fitzroy North,Flemington,Forest Hill,Frankston,Frankston South,Gladstone Park,Gowanbrae,Greenvale,Heidelberg West,Hillside,Hoppers Crossing,Ivanhoe East,Jacana,Kealba,Keilor Downs,Keysborough,Lalor,Meadow Heights,Melton,Melton South,Middle Park,Montmorency,Mooroolbark,Mulgrave,Noble Park,North Melbourne,Parkville,Point Cook,Port Melbourne,Roxburgh Park,Seaford,Seddon,South Melbourne,St Albans,Sunbury,Sunshine North,Taylors Lakes,Templestowe,Tullamarine,Vermont South,Wantirna,West Melbourne,Westmeadows,Wheelers Hill,Windsor,Yallambie
479,1,801000,5.2,2,2,1.0,156.0,87.0,2007,-37.0,144.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
725,1,490000,11.2,3,1,1.0,126.0,91.0,2013,-37.0,145.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
647,1,940000,11.2,3,2,1.0,206.0,151.0,1964,-37.0,145.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
483,1,599900,11.8,2,1,2.0,135.0,76.0,1970,-37.0,145.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [70]:
# location,house_type,distance,bedroom2,bathroom,car,landsize,buildingArea,yearBuilt,lattitude,longtitude
predict_price_rf("Sunshine West",1, 5.2, 2, 2, 1, 156, 87, 2007, -37, 144)

d:\python projects\env\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

806000.0

In [71]:
predict_price_xg("Sunshine West",1, 5.2, 2, 2, 1, 156, 87, 2007, -37, 144)

443997.2

# Exporting model

In [ ]:
# import pickle

# # Define the file path for the pickle file
# pickle_file_path = "model.pickle"

# # Export the model as a pickle file
# with open(pickle_file_path, 'wb') as file:
#     pickle.dump(rf_model, file)

In [ ]:
# import json
# columns = {
#     'data_columns' : [col.lower() for col in X.columns]
# }
# with open("columns.json","w") as f:
#     f.write(json.dumps(columns))

In [ ]:
# X_test_csv = X_test.to_csv('X_test.csv', index = False)
# y_test_csv = y_test.to_csv('y_test.csv', index = False)